*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
h1, h3{
    text-align: center;
    margin: 15px;
}
#main_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    border: 2px solid black;
    padding: 20px;
}
p{
    margin: 10px;
    font-size: 18px;
    color: goldenrod;
}
input{
    margin: 10px;
    display: flex;
    
}
#guess_num{
    padding: 8px 20px;
}
#guess{
    padding: 10px 15px;
    background-color: goldenrod;
}
.high{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}
.low{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}
.answer{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}
.resetbtn{
    padding: 10px;
    background-color: darkgrey;
    border: 2px solid black;
}