.btn1{
    border-color: white;
    color: white;
}
.btn1:hover{
    background-color: darkblue;
    border-color: white;
}
h2{
    text-align: center;
}
.box{
    padding: 20px;
    margin: 10px;
    background-color: grey;
    color: white;
    border-radius: 5px;
}
