
.head{
    display: flex;
    margin-left: 20px;
}
.navbar-nav{
    flex-direction: row;
}
li{
    margin-left: 15px;
}
.header{
    border-bottom: 2px solid black;
}
.temp-link{
    margin-right: 10px;
    align-items: center;
}
.navi{
    align-items: center;
}
.navbar-brand{
    font-size: 25px;
}
.select{
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
}
.box{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
}
.flex-me{
    display: flex;
    justify-content: space-around;
}
.col-4{
    flex: 1;
    text-align: center;
}
img{
    width: 150px;
    height: auto;
    border-radius: 50%;
}
.alert{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cook{
    width: 100px;
    height: auto;
}
.alert-dark{
    border: 2px solid black;
    margin-top: 20px;
}
.red{
    color: red;
}
.blue {
    color: blue;
}
.red::after, .blue::after {
    content: "°";
}
