body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: auto;
}
.form-control{
    border-color: black;
}
.home{
    text-align: right;
    margin: 10px;
}